<%= form_for(message) do |f| %>
  <% if message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being posted:</h2>

      <ul>
      <% message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :channel_id, value: channel.id %>

  <div class="form-group">
    <%= f.text_area :content %>
  </div>

  <div class="form-group">
    <%= f.submit 'Post' %>
  </div>
<% end %>
